@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.fondo-rojo {
  background-color: #c6093b !important; }

.fondo-blanco {
  background-color: white !important; }

body {
  font-family: "Farro", sans-serif;
  font-weight: 300;
  font-size: 1em; }

i {
  background-color: transparent;
  color: #c6093b; }
  i.fa-facebook:hover {
    color: white;
    background-color: #810000; }

.logoFB i {
  color: white;
  background-color: #c6093b;
  padding: 10px;
  border-radius: 10px; }

a.logoFB:hover {
  background-color: white !important; }

h1 {
  margin-top: 0px !important; }

h1, h2, h3 {
  color: #c6093b; }

h1, h2 {
  font-size: 1.6em;
  text-align: center;
  letter-spacing: 2px;
  margin: 30px 30px; }

#header {
  background-color: white; }
  #header div.barra {
    width: 100%;
    height: 25px; }

li.nav-item.dropdown {
  display: flex; }

a.nav-link.active {
  color: #c6093b !important; }

.mainLogo a img {
  width: 80px;
  height: 58px; }

.mr-auto, .mx-auto {
  margin-right: 0 !important;
  width: 100% !important;
  justify-content: space-evenly; }

a.nav-link {
  color: #1b1717 !important;
  font-family: "Bebas Neue", cursive;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 3px; }
  a.nav-link:hover {
    color: #c6093b !important; }
  a.nav-link.nav-prod {
    color: #c6093b !important; }

.carousel-caption {
  bottom: 30% !important; }
  .carousel-caption h1 {
    font-size: 40px;
    color: white; }
  .carousel-caption p {
    font-size: 1.25em; }

#mainSlide {
  display: none; }

#banner {
  height: 780px;
  background-image: url(../imagenes/banner-mobile.jpg);
  background-position: center center;
  background-repeat: no-repeat; }

@media only screen and (min-width: 768px) {
  #mainSlide {
    display: initial; }
  #banner {
    display: none; }
  .carousel-caption {
    bottom: 20px !important; }
    .carousel-caption h1 {
      font-size: 60px; } }

#mapaContacto {
  align-self: center;
  margin-right: 10px;
  height: 90%; }
  #mapaContacto iframe {
    width: 95%; }

#contacto {
  display: grid; }
  #contacto h2 {
    font-size: 25px; }

#formContacto h3 {
  font-size: 22px;
  margin: 25px 0px 10px 0px; }

#formContacto .form-control:focus {
  border-color: #c6093b;
  box-shadow: 0 0 0 0.1rem #c6093b; }

#formContacto .motivo {
  display: flex; }
  #formContacto .motivo label {
    margin-right: 8px;
    align-self: center;
    font-size: 1.25em; }

#formContacto textarea {
  resize: none; }

.datosContacto p {
  margin-left: 15px;
  align-self: center;
  margin-bottom: 0px; }

.fa-map-marker-alt {
  margin-left: 4px;
  margin-right: 4px; }

i.fas {
  margin-top: 5px;
  margin-bottom: 5px; }

button.btn-primary {
  background-color: #c6093b;
  border-color: #c6093b; }

.btn-primary:hover {
  color: #fff;
  background-color: #810000;
  border-color: #810000; }

/*Seccion pie de pagina*/
#footer {
  margin-top: 50px; }
  #footer #footTop {
    padding: 30px; }

.footInfo i.fas {
  color: white !important;
  margin-right: 20px; }

.footInfo p {
  color: white;
  margin-bottom: 0px;
  align-self: center;
  font-size: 0.7em; }

.footLogo {
  align-self: center; }
  .footLogo img {
    height: 78px;
    width: 108px; }

@media only screen and (min-width: 1024px) {
  .footLogo {
    margin-left: 25px; }
  .footInfo p {
    font-size: 1.2em; } }

#footBottom {
  margin-top: 25px; }

#marcas h2 {
  color: white;
  padding-bottom: 30px; }

#marcas div.carousel-item img {
  max-width: 250px; }

#marcas div.col-sm {
  display: flex;
  justify-content: center;
  align-items: center; }

.carousel-item.active {
  display: grid; }

.justify-self-center {
  justify-self: center; }

#carouselMarcas {
  display: none; }

@media only screen and (min-width: 1024px) {
  #carouselMobile {
    display: none; }
  #carouselMarcas {
    display: initial; }
  #marcas div.carousel-item img {
    max-height: 150px; }
    #marcas div.carousel-item img.coca {
      max-height: 85px;
      max-width: 350px; } }

.nosotros {
  display: flex;
  flex-direction: column;
  margin: 10px 25px; }
  .nosotros img {
    display: none; }
  .nosotros strong {
    font-weight: lighter; }

@media only screen and (min-width: 1024px) {
  .nosotros {
    flex-direction: row; }
    .nosotros .nosotros-img {
      width: 50%; }
      .nosotros .nosotros-img img {
        display: initial;
        max-width: 95%; }
    .nosotros .txt {
      width: 50%;
      align-self: center;
      font-size: 1.1rem; } }

#productos {
  align-items: center;
  justify-items: center; }
  #productos h2 {
    font-size: 1.6em; }
  #productos a:hover {
    text-decoration: none; }
  #productos p {
    color: #c6093b;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5em;
    text-align: center; }
    #productos p:hover {
      text-decoration: underline; }
  #productos img {
    height: 96px;
    width: 96px; }

/* Pagina PRODUCTOS */
#container-productos {
  background-image: url(../imagenes/productos/fondo.jpg); }

#prod-hamb, #prod-salch, #prod-cop, #prod-fiam, #prod-gas, #prod-pos {
  width: 100%;
  height: 100vh; }

#separador {
  width: 100%;
  height: 5vh;
  background-color: #959599;
  display: flex;
  align-items: center;
  justify-content: center; }
  #separador p {
    font-family: "Bebas Neue", cursive;
    font-size: 3.5em;
    font-weight: bold;
    letter-spacing: 3px; }

#prod-txt {
  height: 45vh;
  text-align: center;
  display: flex; }
  #prod-txt p {
    justify-self: center;
    align-self: center; }

.badge-danger {
  background-color: #c6093b; }

#hamb-header {
  background-image: url("../imagenes/productos/hamb-header.jpg");
  width: 100%;
  height: 50vh;
  display: block;
  left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

#salch-header {
  background-image: url("../imagenes/productos/salch-header.jpg");
  width: 100%;
  height: 50vh;
  display: block;
  left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

#cop-header {
  background-image: url("../imagenes/productos/cop-header.jpg");
  width: 100%;
  height: 50vh;
  display: block;
  left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

#fiam-header {
  background-image: url("../imagenes/productos/fiam-header.jpg");
  width: 100%;
  height: 50vh;
  display: block;
  left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

#gas-header {
  background-image: url("../imagenes/productos/gas-header.jpg");
  width: 100%;
  height: 50vh;
  display: block;
  left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

#pos-header {
  background-image: url("../imagenes/productos/pos-header.jpg");
  width: 100%;
  height: 50vh;
  display: block;
  left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

@media only screen and (min-width: 1024px) {
  #hamb-header, #salch-header, #cop-header, #fiam-header, #gas-header, #pos-header {
    height: 65vh; }
  #prod-txt {
    height: 30vh; } }

#servicios {
  padding-bottom: 25px; }
  #servicios h2 {
    color: white; }
  #servicios i.fas {
    color: white;
    align-self: center; }
  #servicios div.envio {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center; }
  #servicios div.tarjeta {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center; }

h3.pServ {
  color: white;
  font-size: 1.2em; }

/* Principal */
#container {
  display: grid;
  grid-template-rows: auto auto auto 0.5fr 1fr 0.6fr 2fr 0.5fr; }

@media only screen and (min-width: 1024px) {
  #container {
    display: grid;
    grid-template-rows: auto auto auto auto auto 0.5fr 1fr 0.3fr; } }

/* Seccion Contacto */
#contacto {
  margin: 5px 30px;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto auto auto;
  grid-template-areas: "titulo" "mapa" "datos" "formulario"; }

@media only screen and (min-width: 1024px) {
  #contacto {
    margin: 5px 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 60px auto 1.8fr;
    grid-template-areas: "titulo titulo" "mapa datos" "mapa formulario"; } }

#contacto h2 {
  grid-area: titulo; }

#mapaContacto {
  grid-area: mapa; }

.datosContacto {
  grid-area: datos;
  align-self: center;
  justify-self: start;
  padding-top: 25px; }

/*Seccion Productos*/
#productos {
  margin: 0px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-areas: "titProd titProd" "hambFoto salchFoto" "fiambFoto copFoto" "gasFoto posFoto"; }

@media only screen and (min-width: 1024px) {
  #productos {
    margin: 35px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: "titProd titProd titProd" "hambFoto salchFoto copFoto" "fiambFoto gasFoto posFoto"; } }

#productos h2 {
  grid-area: titProd;
  align-self: center;
  justify-self: center; }

.hambFoto {
  grid-area: hambFoto;
  align-self: center;
  justify-self: center; }

.salchFoto {
  grid-area: salchFoto;
  align-self: center;
  justify-self: center; }

.fiambFoto {
  grid-area: fiambFoto;
  align-self: center;
  justify-self: center; }

.copFoto {
  grid-area: copFoto;
  align-self: center;
  justify-self: center; }

.gasFoto {
  grid-area: gasFoto;
  align-self: center;
  justify-self: center; }

.posFoto {
  grid-area: posFoto;
  align-self: center;
  justify-self: center; }

/* Seccion Servicios */
#servicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px auto auto;
  grid-template-areas: "titulo" "envio" "tarjetas"; }
  #servicios h2 {
    grid-area: titulo; }
  #servicios div.envio {
    grid-area: envio; }
  #servicios div.tarjeta {
    grid-area: tarjetas; }

@media only screen and (min-width: 1024px) {
  #servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px auto;
    grid-template-areas: "titulo titulo" "envio tarjetas";
    height: 250px;
    padding-bottom: 0px; }
  .envio {
    margin-left: 250px; }
  .tarjeta {
    margin-right: 250px; } }

/* Pie de pagina */
#footTop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo info"; }
  #footTop .footLogo {
    grid-area: logo; }
  #footTop .footInfo {
    grid-area: info; }

@media only screen and (min-width: 1024px) {
  #footTop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo info none"; }
    #footTop .footLogo {
      grid-area: logo; }
    #footTop .footInfo {
      grid-area: info; }
    #footTop .none {
      grid-area: none; } }
