/*Seccion pie de pagina*/
#footer{
    margin-top: 50px;
    #footTop{
        padding: 30px
    }
}

.footInfo{
    i.fas{
        color: white !important;
        margin-right: 20px;
    }
    p{
        color: white;
        margin-bottom: 0px;
        align-self: center;
        font-size: 0.7em;
    }
    div{
        display: grid;
        grid-template-columns: 50px auto;
        margin-left: -15px;
        margin-right: -15px;
    }
}

.footLogo{
    align-self: center;
    img{
        height: 78px;
        width: 108px;
    }
}
@media only screen and (min-width: 1024px) {
    .footLogo{
        margin-left: 25px;
    }
    .footInfo p{
        font-size: 1.2em;
    }
}

#footBottom{
    margin-top: 25px;
    p{
        margin: 0px;
        padding-bottom: 1em;
    }
}
