#header{
    background-color: white;
    div.barra{
        width: 100%;
        height: 25px;
    }
}
a.nav-link.active{
    color: $colorPrincipal !important;
}
.mainLogo a img{
    width: 80px;
    height: 58px;
}

.mr-auto, .mx-auto {
    margin-right: 0!important;
    width: 100% !important;
    justify-content: space-evenly;
}

a.nav-link{
    color: #1b1717 !important;
    font-family: $fuenteNav;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 3px;
}