#marcas{
    h2{
        color: white;
        padding-bottom: 30px;
    }
    div.carousel-item img{
        max-width: 150px;
    }
    div.col-sm{
        display: flex;
       justify-content: center; 
    }
}
.carousel-item.active{
    display: grid;
}

.justify-self-center{
    justify-self: center;
}

#carouselMarcas{
    display: none;
}

@media only screen and (min-width: 1024px) {
    #carouselMobile{
        display: none;
    }
    #carouselMarcas{
        display: initial;
    }
}