#marcas{
    h2{
        color: white;
        padding-bottom: 30px;
    }
    div.carousel-item img{
        max-width: 150px;
    }
    div.carousel-item.active{
       justify-self: center; 
    }
}

