#productos{
    align-items: center;
    justify-items: center;
    h2{
        font-size: 1.6rem;
    }
    a:hover{
        text-decoration: none;
    }
    p{
        color: $colorPrincipal;
        font-family: $fuenteNav;
        font-size: 1.5rem;
        text-align: center;
        &:hover{
            /*background-color: $colorPrincipal;
            color: white;*/
            text-decoration: underline;
        }
    }
}