#productos{
    align-items: center;
    justify-items: center;
    h2{
        font-size: 1.6rem;
    }
    a:hover{
        text-decoration: none;
    }
    p{
        color: $colorPrincipal;
        font-family: $fuenteNav;
        font-size: 1.5rem;
        text-align: center;
        &:hover{
            text-decoration: underline;
        }
    }
    img{
        height: 96px;
        width: 96px;
    }
}

/* Pagina PRODUCTOS */

#container-productos{
    background-image: url(../imagenes/productos/fondo.jpg);
}

#prod-hamb, #prod-salch, #prod-cop, #prod-fiam, #prod-gas, #prod-pos{
    width: 100%;
    height: 100vh;
}

#separador{
    width: 100%;
    height: 5vh;
    background-color: #959599;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        font-family: "Bebas Neue", cursive;
        font-size: 3.5em;
        font-weight: bold;
        letter-spacing: 3px;
    }
}
#prod-txt{ 
    height: 30vh;
    text-align: center;
    display: flex;
    p{
        justify-self: center;
        align-self: center;
    }
}
.badge-danger{
    background-color: $colorPrincipal;
}

@mixin productos($url) {
    background-image: url($url);
    width: 100%;
    height: 65vh;
    display: block;
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#hamb-header{
    @include productos("../imagenes/productos/hamb-header.jpg");
}
#salch-header{
    @include productos("../imagenes/productos/salch-header.jpg")
}
#cop-header{
    @include productos("../imagenes/productos/cop-header.jpg")
}
#fiam-header{
    @include productos("../imagenes/productos/fiam-header.jpg")
}
#gas-header{
    @include productos("../imagenes/productos/gas-header.jpg")
}
#pos-header{
    @include productos("../imagenes/productos/pos-header.jpg")
}