.carousel-caption{
    bottom: 30% !important;
    h1{
        font-size: 40px;
        color: white;
    }
    p{
        font-size: 1.25em;
    }
}

#mainSlide{
    display: none;
}

#banner{
    height: 780px;
    background-image: url(../imagenes/banner-mobile.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
    #mainSlide{
        display: initial;
    }
    #banner{
        display: none;
    }
    .carousel-caption{
        bottom: 20px !important;
        h1{
            font-size: 60px;
        }
    }
}