.carousel-caption{
    bottom: 30% !important;
    h1{
        font-size: 60px;
        color: white;
    }
    p{
        font-size: 1.25em;
    }
}

#mainSlide{
    display: none;
}

#banner{
    height: 100vh;
    background-image: url(../imagenes/banner.jpg);
}

@media only screen and (min-width: 768px) {
    #mainSlide{
        display: initial;
    }
    #banner{
        display: none;
    }
    .carousel-caption{
        bottom: 20px !important;
    }
}